.services h1 {
    text-align: center;
    margin-top: 70px;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 70%;
    margin: 50px auto;
}