nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 8px 0;
}

nav span {
    font-size: 25px;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
}